## Requirements for Core Project
gradio
chromadb
sentence-transformers
requests
torch
bitsandbytes
transformers
huggingface_hub
accelerate

pysqlite3-binary ## Install this after running setup-chromadb.py


## Requirements for Loading to Chroma DB / Querying Chroma DB (Optional)
beautifulsoup4